# ==============================================================================
# CONFIGURACIÓN DE LA APLICACIÓN (SPRING BOOT)
# ==============================================================================

# Nombre de la aplicación
SPRING_APPLICATION_NAME=loans-amortization-app

# Puerto en el que correrá el servidor Backend
SERVER_PORT=4000

# Orígenes permitidos por CORS (Separados por coma en caso de múltiples orígenes)
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ==============================================================================
# CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL)
# ==============================================================================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/loans_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# ==============================================================================
# CONFIGURACIÓN DE JPA / HIBERNATE
# ==============================================================================
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_DATA_WEB_PAGEABLE_ONE_INDEXED_PARAMETERS=true

# ==============================================================================
# CONFIGURACIÓN DE SEGURIDAD (JWT)
# ==============================================================================
# Llave secreta para firmar tokens JWT (Debe ser HS256 y mínimo de 256 bits)
SECURITY_JWT_SECRET_KEY=3cfa76f114cd3f5a60e0a5c4cf8d8f074dcd48e3cf2773418e97a3cf271234b6

# Tiempo de expiración del token JWT en milisegundos (Por defecto: 24 horas = 86400000 ms)
SECURITY_JWT_EXPIRATION_TIME=86400000